@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

/* common style section */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Merriweather', serif;
}

.sec-container {
    width: 80%;
    font-family: 'Inter', sans-serif;
    max-width: 1300px;
    border-radius: 16px;
    margin: 30px auto;
}

p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

header {
    background: #FFF;
}

.container {
    width: 80%;
    max-width: 1300px;
    border-radius: 16px;
    margin: 30px auto;
    background-image: url('../images/Banner\ Image.png');
    background-size: cover;
    display: table;
    opacity: 7;
}

header .container h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 150px;
    text-shadow: 2px 2px 4px rgb(10, 0, 26);
}

header .container h1 {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin: 30px 340px;
    padding-bottom: 170px;
    text-shadow: 2px 2px 4px rgb(12, 0, 31);
}

/* hot deal section */
#hot-deals {
    background: #FFF;
}

#hot-deals .sec-container .con-column * {
    margin: 0 250px;
    text-align: center;
}

#hot-deals .sec-container .con-column h1 {
    color: #F00;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin: 100px 0 40px;
}

#hot-deals .sec-container .con-column h5 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

#hot-deals .sec-container .con-column h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 48px;
}

#hot-deals .sec-container .con-column img {
    width: fit-content;
}

/* teket section */
#party-tiket {
    margin-top: 100px;
}

#party-tiket .uniq-tiket {
    background-image: url('../images/Vectorrr.png');
    background-size: cover;
    display: flex;
}

#party-tiket .sec-container .cloumn {
    width: 50%;
}

#party-tiket .sec-container .cloumn h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 115px 90px 20px;

}

#party-tiket .sec-container .cloumn p {
    text-align: left;
    margin-left: 90px;
    text-shadow: #070211;
}

#party-tiket .sec-container .cloumn button {
    color: #FFF;
    margin-left: 90px;
    margin-top: 35px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    background: none;
    cursor: pointer;
}

#party-tiket .sec-container .cloumn img {
    margin: 55px 115px;
}

/* time-table */
#time-table {
    margin-top: 50px;
}

#time-table .bac-light {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
    ;
    padding-top: 5px;
}

#time-table .bac-light .column h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
}

#time-table .bac-light .column h3 span {
    color: #F00;
}

#time-table .bac-light .column button {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 25px;
    border-radius: 8px;
    background: #F00;
    cursor: pointer;
    margin-bottom: 115px;
}

/* upcoming-deals */

#upcoming-deals {
    margin-top: 20px;
}

.for-flex {
    display: flex;
    justify-content: space-evenly;
}

#upcoming-deals .sec-container .column {
    width: 33%;
    text-align: left;
}

#upcoming-deals .sec-container .column h5 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 54px;
}

#upcoming-deals .sec-container .column h2 {
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    margin: 25px 0;
}

#upcoming-deals .sec-container .column p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-right: 60px;
    text-align: left;
    margin-bottom: 130px;
}

#upcoming-deals .sec-container .adding-bac {
    background-image: url('../images/Rectangle\ 2.png');
    background-size: cover;
    border-radius: 450px;
}

#upcoming-deals .sec-container .cloumn img {
    width: 30%;
    position: relative;
}


#upcoming-deals .sec-container .diff-design {
    /* text-align: center; */
    margin-left: 70px;
}

#upcoming-deals .sec-container .diff-design h1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 30px;
}

#upcoming-deals .sec-container .diff-design p {
    text-align: left;
    margin: 20px auto;

}

#upcoming-deals .sec-container .diff-design img {
    width: 33%;
    position: bottom;
}

.adding-bac img {
    margin: 30px;
    margin-bottom: 15px;
}

/* bonus section */
#holydays {
    margin-top: 110px;
}

.sec-container .page-heading * {
    text-align: center;
    padding: 14px 0px;
}
.sec-container .page-heading h3{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.sec-container .page-heading h1{
    color: #070211;
    font-size: 60px;
    font-weight: 900;
}
.sec-container .page-heading .red{
    color: #F00;
}
.page-heading p{
    max-width:1000px;
    color: rgba(7, 2, 17, 0.60);
    margin: 2px auto;
}

/* photo edit */
.page-content{
    position: relative;
    width: 100%;
}
.page-content .img-one{
    position: absolute;
    left: 800px;

}
.page-content .img-two{
    margin-left: 900px;
}

.page-content-second{
    position: relative;
    width: 100%;
}
.page-content-second .img-one{
    position: absolute;
    bottom:20px;
}
.page-content-second .img-two{
    margin-left: 10px;
}

/* Our product */

#our-product {
    margin-top: 120px;
}

.sec-container .sec-heading h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.sec-container .sec-heading h1 {
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    margin: 20px 0;
}

.sec-container .sec-heading p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    max-width: 800px;
    margin-bottom: 50px;
}

.sec-element .first-column img {
    max-width: 400px;
    margin: 24 auto;
    border-radius: 15px;
    margin: 24px 15px;
    cursor: -webkit-zoom-in;
    transition: 1;
}

.sec-element .first-column img:hover {
    background: #070211;
    opacity: 0.5;
    cursor: -webkit-zoom-in;
    transition: 1;
}

.sec-element .second-column img {
    max-width: 400px;
    margin: 24 auto;
    border-radius: 15px;
    margin: 24px 15px;
    cursor: -webkit-zoom-in;
    transition: 1;
}

.sec-element .second-column img:hover {
    background: #fefdff;
    opacity: 0.5;
}

/* suscribe  */
#subdcribe {
    margin-top: 110px;
}

#subdcribe .bac-bright {
    background-color: rgba(255, 0, 0, 0.05);
}

#subdcribe .bac-bright * {
    text-align: center;
}

.sec-upper img {
    max-width: 150px;
    margin: 60px 0 40px;
}

.sec-upper h1 {
    color: #070211;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
}

.sec-upper p {
    max-width: 800px;
    margin: 25px auto;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

/* button */
#subdcribe form {
    max-width: 640px;
    margin: 39px auto;
    display: flex;
}

#subdcribe form input {
    flex-grow: 1;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 400px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    outline: none;
    padding: 24px;
}

#subdcribe form button {
    color: #FFF;
    background: #F00;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 400px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    outline: none;
    padding: 24px;
    cursor: pointer;
}

/* footer style */

footer {
    margin-top: 120px;
    background-color: rgba(7, 2, 17, 1);
    */ */
}

.sec-container .first-row {
    display: flex;
    justify-content: space-between;
}

.sec-container .first-row * {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 7px;
}

.first-row .first-col {
    margin-top: 120px;
}

footer .sec-container hr {
    border: 0.5px solid #575353;
    margin: 45px 0;
}

.second-row .second-col {
    margin-left: 10px;
    margin: 0px 450px;
}

.third-row {
    display: flex;
    justify-content: space-between;
}

.third-row * {
    margin-bottom: 120px;
}

.third-row h3 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.third-row button {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background: none;
    cursor: pointer;
}